*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
nav{
    width: 130px;
    height: 60px;
    background-color: rgb(13, 13, 13);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-radius: 30px;
    position: absolute;
    margin:2%  3%;
    z-index: 5;
    overflow: hidden;
    transition: all 500ms;
}
nav:hover{
    box-shadow: 0px 0px 5px 1px yellow;
}
nav button{
    width: 100px;
    height: 35px;
    background-color: rgb(234, 209, 22);
    border-radius: 20px;
    border: none;
}
nav a{
    
    color: white;
    font-size: 18px;
    text-decoration: none;
}
nav h3{
    display: none;
    opacity: 0;
    transition: all 1s;
}
nav:hover{
    width: 95%;
    transition: all 1s;
}
nav:hover h3{
    display:inline;
    opacity: 1;
}

/* ------------------------------------------------------------------------------------------------------------------------------------- */
.home1{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./bg3.avif);
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position:top;
    background-size: cover;
    position: relative;
    overflow: hidden;   
    padding:50px 30px 30px 30px;
}
.home1>div:nth-child(1){
    width: 200%;
    min-height: 100vh;
    position: absolute;
    background-color: rgba(255, 255, 0, 0.44);
    top: -80%;
    left: -30%;
    transform: rotate(10deg);
    z-index: 1;
}
.home1>div:nth-child(2){
    width: 200%;
    min-height: 100vh;
    position: absolute;
    background-color: rgba(255, 255, 0, 0.44);
    bottom: -95%;
    left: -30%;
    transform: rotate(10deg);
    z-index: 1;
}

article{
    width: 80%;
    min-height:450px;
    color: white;
    display: flex;
    margin-top: 5%;
}
article section{
    width: 50%;
    /* min-height:100%; */
    z-index: 5;

}
article section:nth-child(2){
    padding: 20px;
    min-height: 420px;
    backdrop-filter: blur(15px);
}
article section:nth-child(1){
    min-height: 420px;
}
.home1 img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
article h1{
    position: relative;
}
article h1::before{
    content: '';
    height: 5px;
    width: 0%;
    background-image: linear-gradient(to right ,rgb(255, 225, 0),rgba(255, 225, 0, 0.111));
    transition: all 1s;
    bottom: 0;
    position: absolute;
}
iframe{
    height:100%;
}
.home1:hover>div h1::before{
    width: 53%;
}

/* --------------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------- */


/* -----------------------------------lastpg------------------------------------ */

.lastpg{
    min-height:10vh ;
    width: 100%;
    background-color: rgb(58, 56, 40);
    display: flex;
    justify-content: space-between;
    padding: 0px 25px;
    color: white;
    align-items: center;
}
.lastpg>section:last-child{
    width: 30%;
    display: flex;
    justify-content: space-between;
}
.lastpg i {
    font-size: 25px;
    margin-right: 10px;
    margin-top: 15px;
    color: white;
}
.lastpg i:hover{
    color: rgb(255, 234, 0);
    transform: scale(1.1);
}
















/* ------------------------------------------------------------------------------------------- */


/* ------------- */
.shutter1{
    height: 2000px;
    width:2000px;
    position: absolute;
    background-color: rgb(225, 207, 9);
    z-index: 99;
    transform: rotate(45deg);
    top: -80%;
    left: 300%;
    animation: shutter1 2s;
}
.shutter2{
    height: 2000px;
    width:2000px;
    position: absolute;
    background-color: rgb(225, 207, 9);
    z-index: 99;
    transform: rotate(45deg);
    top: -80%;
    right: 300%;
    animation: shutter2 2s;    
}




























@keyframes shutter1 {
    0%{
        left: -80%;
    }
    10%{
        right: 0%;
    }
    30%{
        left: 30%;
        transform: rotate(0deg);
    }
    75%{
        left: 100%;
        transform: rotate(-45deg);
    }
    100%{
        left: 300%;
    }
    
}
@keyframes shutter2 {
    0%{
        right: -80%;
    }
    10%{
        right: 0%;
    }
    30%{
        right: 30%;
        transform: rotate(0deg);
    }

    75%{
        right: 103%;
        transform: rotate(-45deg);
    }
    100%{
       right: 300%;
    }
    
}









@media only screen and (min-width:250px) and (max-width:800px) {
    article{
        flex-direction: column;
    }
    article section{
        width: 100%;
        height: 50%;
    
    }
    .back>section{
        flex-direction: column;
        
    }
    .article section:nth-child(1){
        min-height: 500px;
    }

    article{
     
        margin-top: 10%;
    }
    iframe{
        height:450px;
        margin-bottom: -10px;
    }
     

}




