*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.overall{
    position: relative;
}
.navbar{
    z-index: 5;
    position: absolute;
    top:20px;
    padding: 10px;
    align-self: center;
    margin: 2%;
    border-radius: 50px;
    width: 96%;
    transition: all 500ms;
}
nav:hover{
    box-shadow: 0px 0px 5px 1px yellow;
}
.navbar i{
    font-size: 30px;
}
.home1{
    min-height: 100vh;
    width: 100%;
    background-color: rgba(255, 255, 0, 0.406);
    display: flex;
    justify-content: center;
    position: relative;
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(./bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;

    
}
.home1>div:nth-child(1){
    width: 200%;
    min-height: 100vh;
    position: absolute;
    background-color: rgba(255, 255, 0, 0.44);
    top: -80%;
    left: -30%;
    transform: rotate(10deg);
    animation: design1 3s;
    /* animation-delay: 1s; */
}
.home1>div:nth-child(2){
    width: 200%;
    min-height: 100vh;
    position: absolute;
    background-color: rgba(255, 255, 0, 0.44);
    bottom: -95%;
    left: -30%;
    transform: rotate(10deg);
    animation: design2 3s;
    /* animation-delay: 1s; */
}
.home1>div:nth-child(3){
    width: 80%;
    height: 50%;
    color: white;
    display: flex;
    margin-top: 20%;
}
.home1>div:nth-child(3) section{
    width: 50%;
    min-height: 100%;
    z-index: 5;

}
.home1 a{
    width: 100px;
    height: 35px;
    border-radius: 3px;
    background-color: rgb(211, 195, 14);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}
.home1 img{
    width: 100%;
    min-height: 100%;
    object-fit: cover;
}
.home1>div:nth-child(3) span{
    position: relative;

}
.home1>div:nth-child(3) span::before{
    content: '';
    height: 5px;
    width: 0%;
    background-image: linear-gradient(to right ,rgb(255, 225, 0),rgba(255, 225, 0, 0.111));
    transition: all 1s;
    bottom: 0;
    position: absolute;
}
.home1:hover>div:nth-child(3)>section span::before{
    
    width: 100%;
}
/* /--------------------------------------------------------- */

.course1{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./bg2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding: 30px;
    display: flex;
    align-items: center;
}

.course1>section{
    width: 100%;
    height: 70%;
    display: flex;
    position: relative;
}
.course1>section>div{
    width: 50%;
    height: 100%;

}
.course1>section>div:nth-child(1){
    padding: 3% 0% 4% 5%;
    z-index: 5;
}
.course1>section>div:nth-child(2){
    position: absolute;
    right: 0;
    background-color: black;
}
.course1 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 500ms;
}
.course1 video:hover{
    box-shadow: 0px 0px 5px 4px rgba(255, 226, 4, 0.624);
}
.course1 h2{
    position: relative;
}
.course1 h2::before{
    content: '';
    height: 5px;
    width: 0%;
    background-image: linear-gradient(to right ,rgb(255, 225, 0),rgba(255, 225, 0, 0.111));
    transition: all 1s;
    bottom: 0;
    position: absolute;
}
.course1:hover h2::before{
    
    width: 35%;
}
.course1 span{
    position: relative;

}
.course1 span::before{
    content: '';
    height: 2px;
    width: 0%;
    background-image: linear-gradient(to right ,rgb(255, 225, 0),rgba(255, 225, 0, 0.111));
    transition: all 1s;
    bottom: 0;
    position: absolute;
}
.course1:hover span::before{
    
    width: 100%;
}
/* ------------------------------------------------------------------------------------- */
.course2{
    width: 100%;
    height: 100vh;
    padding: 30px;
    background-color: black;

}
.course2>section{
    width: 100%;
    height: 100%;
    display: flex;
}
.course2>section>div{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    padding: 20px;

}
.course2>section>div:nth-child(1){
    width: 45%;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(./side.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content:center;
    color: white;
}

.course2>section>div:nth-child(2){
    width: 55%;
    color: rgb(255, 255, 255);
}
.scroll1{
    width: 100%;
    height: 70%;
    overflow-x: auto;
    padding: 20px;
    color: black;
    background-color: rgba(255, 243, 11, 0.186);
    transition: all 400ms;
}
.scroll1:hover{
    box-shadow: 0px 0px 5px 3px rgba(255, 234, 0, 0.585);
}
.scroll1>a>div{
    min-height: 30%;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
}
.scroll1>a>div>section:nth-child(1){
    width: 25%;
    min-height: 100%;
}
.scroll1>a>div>section:nth-child(2){
    width: 75%;
    min-height: 100%;
    background-color: rgb(255, 255, 255);
    padding-left: 5px;
}
.scroll1>a>div>section:nth-child(2)>p:nth-child(3){
    color: rgba(173, 156, 20, 0.858);
}
.scroll1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.scroll1 p{
    font-size: 14px;
    margin: 1px;
}
.scroll1 p{
    margin: 1px;
}
.scroll1 a{
    color: black;
    text-decoration: none;
}
/* ----------------------------------------------------------------- */
.course2>section>div:nth-child(2) button{
    width: 150px;
    height: 35px;
    border: none;
    margin-top: 5px;
    border-radius: 3px;
    background-color: rgb(247, 251, 24);
    color: rgb(133, 133, 133);
}
.course2 h1{
    position: relative;
}
.course2 h1::before{
    content: '';
    height: 5px;
    width: 0%;
    background-image: linear-gradient(to right ,rgb(255, 225, 0),rgba(255, 225, 0, 0.111));
    transition: all 1s;
    bottom: 0;
    position: absolute;
}
.course2:hover h1:nth-child(1):before{
    
    width: 28%;
}
.course2:hover h1:nth-child(2):before{
    
    width: 90%;
}
/* ------------------------------------------------------------------------------------------ */

.servicee{
    width: 100%;
    min-height: 80vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(./bg3.avif);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
}
.servicee>section{
    width: 100%;
    min-height: 550px;
    display: flex;
}
.servicee>section>div{
    width: 50%;
    min-height: 480px;
    padding: 50px;
    
}
.servicee>section>div:first-child{
    padding: 10% 3% 3% 5%;
    color: white;
}
.slide1{

    display: flex;
    position: relative;
    overflow: hidden;

    
}
.slide1>div{
    width: 80%;
    height:80%;
    position: absolute;
    animation-duration: 5s;
    
}
.slide1>div>section{
    width: 100%;
    height: 50%;
    background-color: rgb(231, 216, 19);
}
.slide1>div>section:nth-child(2){
    display: flex;
    /* padding: 15px; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}
.slide1>div>section:nth-child(2) div{
    width:80px;
    height:80px;
    border-radius: 50%;
    background-color: rgb(183, 186, 23);
    border: 10px solid rgb(236, 243, 131);
    font-size: 35px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -45px;
}

.slide1>div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.pricee{
    top:10%;
    right: 10%;
    animation: price;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.taskk{
    right: -110%;
    animation: task;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}
.placee{
    right: -110%;
    animation: place;
    animation-duration: 12s;
    animation-iteration-count: infinite;
}

.servicee div>h3{
    position: relative;
}
.servicee div>h3::before{
    content: '';
    height: 5px;
    width: 0%;
    background-image: linear-gradient(to right ,rgb(255, 225, 0),rgba(255, 225, 0, 0.111));
    transition: all 1s;
    bottom: 0;
    position: absolute;
    border-radius: 5px;
}
.servicee:hover div>h3:before{
    
    width: 75%;
}
/* -------------------------------------------------------------------------------------------- */
.record{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(29, 29, 29);
}
.record>section{
    min-height: 90vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    gap: 50px;
    padding: 30px;
}
.record>section>a>div{
    min-height: 300px;
    background-color: rgb(225, 218, 12);  
    padding: 15px;
    transition: all 500ms;
}
.record>section>a>div:hover{
    transform: scale(1.02);
    box-shadow: 0px 0px 13px 3px rgba(222, 193, 4, 0.557);
}
.record>section>a>div>div{
    display: flex;
    justify-content: space-between;
}

.record>section img{
    height:200px;
    width: 100%;
    object-fit: cover;
}
.record div span{
    text-decoration:line-through;
}
.record>section>a>div i{
    color: rgb(157, 135, 10);
}
.record>h2{
    position: relative;
}
.record>h2::before{
    content: '';
    height: 5px;
    width: 0%;
    background-image: linear-gradient(to right ,rgb(255, 225, 0),rgba(255, 225, 0, 0.111));
    transition: all 1s;
    bottom: 0;
    position: absolute;
    border-radius: 5px;
}
.record:hover>h2:before{
    
    width: 31%;
}
/* ------------------------------------------------------------------------------- */

.h2bg>h2{
    text-shadow: 1px 1px 4px rgb(235, 241, 79);
}
.cont{
    width: 100%;
    min-height: 60vh;
    background-color: rgb(33, 33, 33);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.cont>div:nth-child(3) p,.cont>div:nth-child(3) h2{
    color: rgb(255, 255, 255);
}
.cont>div:nth-child(2){
    height: 50vh;
    width: 100%;
    display: flex;
}
.cont>div:nth-child(3){
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0PX 30px;
}
.cmnt{
    width: 40%;
    height: 90%;
    padding: 40px 20px 20px 80px ;

}
.cmnt>h3{
    color: rgb(222, 218, 14);
}
.cmnt>p i{
    font-size: 35px;

}
.cmnt{
    color: white;
}

.conct{
    width:60%;
    min-height: 85%;
    display: flex;
    justify-content: space-evenly;
    color: rgb(222, 218, 14);

}
.conct>div:nth-child(1),.conct>div:nth-child(2){
    width: 40%;
    min-height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content:start;
    gap: 4%;
}

.conct a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px;
}
.conct>div:nth-child(2)>section{
    width: 100%;
    display: flex;
}.conct>div:nth-child(2)>section i{
    font-size: 25px;
    margin-right: 20px;
}
/* ----------------------------------------hover---------------------------------------------------- */

.cont a:hover{
    color: rgb(223, 220, 13);
    transform: scale(1.05);
}

/* -------------------------------------------- */
.arrw{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    border-radius: 50%;
    color:white;
    background-color: rgb(222, 218, 14);;
    position:fixed;
    right:40px;
    top: 86%;
    z-index: 10;
    
}
.arrw a{
    color: white;
}

.shutter1{
    height: 2000px;
    width:2000px;
    position: absolute;
    background-color: rgb(225, 207, 9);
    z-index: 99;
    transform: rotate(45deg);
    top: -80%;
    left: 300%;
    animation: shutter1 2s;
}
.shutter2{
    height: 2000px;
    width:2000px;
    position: absolute;
    background-color: rgb(225, 207, 9);
    z-index: 99;
    transform: rotate(45deg);
    top: -80%;
    right: 300%;
    animation: shutter2 2s;    
}
















@keyframes design1 {
    0%{
        top: -45%;
    }
    30%{
        top: -45%;
    }

    100%{
        top: -80%;
    }
    
}
@keyframes design2 {
    0%{
        bottom: -65%;
    }
    30%{
        bottom: -60%;
    }

    100%{
        bottom: -95%;
    }
    
}



@keyframes shutter1 {
    0%{
        left: -80%;
    }
    10%{
        right: 0%;
    }
    30%{
        left: 30%;
        transform: rotate(0deg);
    }
    75%{
        left: 100%;
        transform: rotate(-45deg);
    }
    100%{
        left: 300%;
    }
    
}
@keyframes shutter2 {
    0%{
        right: -80%;
    }
    10%{
        right: 0%;
    }
    30%{
        right: 30%;
        transform: rotate(0deg);
    }

    75%{
        right: 103%;
        transform: rotate(-45deg);
    }
    100%{
       right: 300%;
    }
    
}











/* 

@keyframes price {
    0%{
        right: 10%;
    }
    16%{
        right: 10%;
    }
    33%{
        right: 110%;
    }
    50%{
        right: 110%;

    }
    67%{
        right: 110%;
    }
    84%{
        right: 110%;
    }
    100%{
        right: 10%;
    }
}
@keyframes task {
    0%{
        right: -110%;
    }
    16%{
        right: -110%;
    }
    33%{
        right: 10%;
    }
    50%{
        right: 10%;

    }
    67%{
        right: 110%;
    }
    84%{
        right: 110%;
    }
    100%{
        right: -110%;
    }
}
@keyframes place {
    0%{
        right: -110%;
    }
    16%{
        right: -110%;
    }
    33%{
        right: -110%;
    }
    50%{
        right: -110%;

    }
    67%{
        right: 10%;
    }
    84%{
        right: 10%;
    }
    100%{
        right: -110%;
    }
} */





@media only screen and (min-width:250px) and (max-width:750px) {
    .home1>div:nth-child(3){
        flex-direction: column;
        gap: 15px;
    }
    .home1>div:nth-child(3) section{
        width: 100%;
    
    }
    .course1>section>div{
        width: 100%;
    
    }
    .course1 video{opacity: 0.4;
    }
    .course2>section{
        flex-direction: column;
    }
    .course2>section>div:nth-child(1){
        width: 100%;
        height: 40%;
    }
    
    .course2>section>div:nth-child(2){
        width: 100%;
        height: 60%;
    }
    .servicee>section{
        flex-direction: column;
    }
    .servicee>section>div{
        width: 100%;
        height: 600px;
    }
    .servicee>section>div:first-child{

        height: 450px;
    }
    .record>section{
        grid-template-columns: repeat(auto-fit,minmax(260px,1fr));
    }

    .cmnt{
        width: 100%;
     }
 
     .conct{
         width: 100%;
         margin: unset;
         z-index: 1;
         flex-direction: column; 
     }
     .conct>div:nth-child(1),.conct>div:nth-child(2){
         width: 100%;
         min-height: 50%;
     }
     .cont{
         flex-direction: column;
         min-height: 80vh;
     }
     .cmnt{
         height: 50vh;
         width: 100%;
         }
    .cont>div:nth-child(2){
            flex-direction: column;
            height: 80%;
        }
        
}



@media only screen and (min-width:750px) and (max-width:1200px) {
    
    .record>section{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    }
}
    

@media only screen and (min-width:250px) and (max-width:600px) {
    
    .home1>div:nth-child(3){
        margin-top: 40%;
    }
    .slide1{
        height: 850px;
    }
}